/* Import CSS Variables */
@import "./variables.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--grey-50);
    color: var(--black);
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
